{{ define "itemList" }}
{{ template "header" .Context }}


<p>
  <div class="btn-group" role="group" aria-label="Basic example">
    <a href="/item/list" class="btn btn-primary{{ if eq .View "all" }} active{{end}}">All</a>
    <a href="?owned=true" class="btn btn-primary{{ if eq .View "owned" }} active{{end}}">Owned</a>
    <a href="?owned=false" class="btn btn-primary{{ if eq .View "notowned" }} active{{end}}">Not Owned</a>
  </div>
</p>

<table class="table">

  <thead>
    <tr>
      <th></th>
      <th>Name</th>
      <th>Key</th>
      <th></th>
    </tr>
  </thead>

  <tbody>

  <tr>
    <form action="/item/create" method="post">
    <td></td>
    <td><input type="text" class="form-control form-control-sm" name="name" id="name" placeholder="New item name" /></td>
    <td><input type="text" class="form-control form-control-sm" name="key" id="key" placeholder="New item key" /></td>
    <td><button type="submit" class="btn btn-primary btn-sm">Create</button></td>
    </form>
  </tr>

  {{ range .ItemList }}
  <tr>
    <td><a href="/item/toggle/{{.ID}}" class="btn btn-sm btn-primary" {{if not .IsOwned}}style="color:#0275d8;color:rgba(0,0,0,0)"{{end}}>✓</a></td>
    <td>{{ .Name }}</td>
    <td>{{ .KeyChar }}</td>
    <td>
      <div class="btn-group">
        <a href="/item/edit/{{.ID}}" class="btn btn-secondary btn-sm">Edit</a>
        <a href="/item/delete/{{.ID}}" class="btn btn-danger btn-sm">Delete</a>
      </div>
    </td>
  </tr>
  {{ end }}
  </tbody>

</table>

{{ template "footer" }}
{{ end }}